<body>

<div class="protect_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="protect_taital">THÁP DINH DƯỠNG</h1>
        <p class="protect_text" style="text-align: center;">Dành cho người tập GYM</p>
      </div>
    </div>
    <div class="protect_section_2 layout_padding">
      <div class="row">
        <div class="col-md-6">
          <div class="anh"><img src="GYM1.jpg"></div>
          <h1 class="hands_text">Những nguyên lý cơ bản của thực đơn cho người tập gym</h1>

          <p class="protect_text">Bản thân việc lựa chọn thực đơn cho người tập gym khá đơn giản, thậm chí còn đơn giản hơn cả người bình thường do khi này bạn sẽ có danh sách các chất cần thiết trong món ăn và chỉ việc chọn nguyên liệu sao cho phù hợp là được.
          </p><br>
          <p class="protect_text">Một trong những chất cần thiết trong thực đơn của người tập gym đó chính là Protein. Protein là chất rất quan trọng trong quá trình phát triển cơ bắp của người tập, thường là nam giới. Việc bổ sung đủ protein sẽ giúp cho cơ bắp
            của bạn phát triển tốt hơn rất nhiều, khiến cơ thể nhanh chóng lộ ra những đường nét cơ bắp. Lượng Protein cần thiết cho cơ thế ở mức 1,1gr/1kg thể trọng.</p><br>
          <p class="protect_text">Tuy nhiên với người tập luyện tăng cơ bắp thì lượng Protein cần thiết phải đạt đến mức là 2,2gr/1kg thể trọng thì mới là đủ để phát triển cơ bắp.</p><br>

          <p class="protect_text">Một trong những chất cũng quan trọng không kém là Carb hay còn được gọi là tinh bột. Việc bổ sung Carb sẽ giúp bạn có một nguồn năng lượng rất tốt để đảm bảo cơ thể hoạt động hiệu quả và phát huy được hết sức mạnh cơ bắp. Lượng
            Carb cần thiết cho cơ thể nên được nạp từ các loại bánh mì, ngũ cốc, cơm gạo như thông thường. Lượng Carb cần thiết cho cơ thể nên là từ 4,5gr/1kg thể trọng.</p>
          <p class="protect_text">Cuối cùng là chất béo. Nhiều người thương bỏ qua chất béo vì nó được coi như thủ phạm khiến rất nhiều người hiện nay bị thừa cân. Tuy nhiên, trên thực tế thì chất béo cũng là 1 chất quan trong giúp cơ thể hấp thu dinh dưỡng. Do
            đó, chất béo cũng nên chiếm một lượng từ 5-10% khối lượng thực phẩm nạp vào hằng ngày.</p>

        </div>
        <div class="col-md-6">
          <h1 class="hands_text"><a href="#">Vậy thực đơn cho người tập gym tăng cân nên chú ý điều gì?</a></h1>
          <div class="anh"><img src="GYM2.jpg"></div>
          <p class="protect_text" style="text-align: center;">Một bữa ăn cho người tập gym hoàn toàn có thể đa dạng và thay đổi thường xuyên để chống chán</p><br>
          <p class="protect_text">Bản chất việc chuẩn bị thực đơn cho một người tập gym tăng cân chính là việc tăng cường lượng cơ bắp cho cơ thể và đồng thời cũng giảm mỡ để có thể làm lộ ra những đường nét cơ bắp cho cơ thể. Thường thì đây sẽ là thực đơn cho
            người tập gym nam vì các chị em thường không muốn một cơ thể quá cơ bắp. Để xây dựng thực đơn này, việc quan trọng bạn cần làm đó là luôn phải đảm bảo cơ thể thật đủ năng lượng cho các bài tập, đồng thời cung cấp đủ các chất
            dinh dưỡng cần thiết cho cơ thể để hỗ trợ quá trình phát triển cơ bắp thật hiệu quả.</p><br>
          <p class="protect_text">Protein sẽ là nhóm dưỡng chất đảm đương trách nhiệm này. Bạn nên sử dụng nhiều các món như thịt nạc trắng, lòng trắng trứng... để bổ sung Protein. Giai đoạn này khá cần thiết đề bạn có thể tăng cường cơ bắp một cách nhanh chóng
            cho nên việc ăn giảm calo là không nên, hãy tập chung vào Protein và mọt chế độ tập luyện khoa học để cơ thể nhanh đạt được lượng cơ bắp mong muốn.</p>
        </div>
        <div class="col-md-6">
          <h1 class="hands_text"><a href="#">Thế còn thực đơn cho người tập gym giảm mỡ thì sao?</a></h1>
          <p class="protect_text">Thực đơn cho người tập gym giảm mỡ là một chế độ ăn giúp người tập luyện đốt cháy lượng mỡ thừa trong cơ thể thông qua bài tập để lộ ra các cơ bắp vốn có. Đây cũng chính là thực đơn cho người tập gym nữ mà các chị em tìm kiếm.
            Với thực đơn này, một chế độ ăn để cơ thể thâm hụt calo, từ đó đốt mỡ thừa là rất quan trọng. Vậy nên thay vì tập trung vào các nhóm chất cung cấp năng lượng phát triển cơ bắp như trên, hãy tăng cường lượng chất xơ để làm giảm
            cơn đói. Protein đủ sẽ giúp các nhóm cơ cần phát triển như mông đùi được rõ hơn.</p><br>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- protect section end -->
  <!-- about section start -->
</body>
