<footer style="background: #7c8b78; color: #fff; position: relative; z-index: 10;">
  <div class="footer-div-parent">
    <div class="container footer">
      <div class="container_inner_footer">
        <div class="row ">
          <div class="col-md-12" style="color: #fff; padding: 20px; text-align: center;">
            <div class="widget-social pc_aligncenter">
              <a href="#" target="_blank" style="color: #fff; padding-left: 15px;">
                <i class="fa-brands fa-facebook-f"
                   style="font-size: 24px; margin-right: 5px;"></i>
              </a>
              <a href="#" target="_blank" style="color: #fff; padding-left: 15px;">
                <i class="fa-brands fa-instagram"
                   style="font-size: 24px; margin-right: 5px;"></i></a>
              <a href="#" target="_blank" style="color: #fff; padding-left: 15px;">
                <i class="fa-brands fa-youtube" style="font-size: 24px; margin-right: 5px;"></i>
              </a>
              <a href="#" style="color: #fff; padding-left: 15px;">
                <i class="fa-regular fa-envelope"
                   style="font-size: 24px; margin-right: 5px;"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row text-center" style="padding: 10px 0;">
          <div class="col-md-4">
            <div class="caption"> Top Recipes</div>
            <ul>
              <li><a id="footer-top-recipes-1" href="#">Healthy
                Breakfast Ideas</a></li>
              <li><a id="footer-top-recipes-2" href="#">Easy Dinner
                Ideas</a></li>
              <li><a id="footer-top-recipes-3" href="#">Healthy Lunch
                Ideas</a></li>
              <li><a id="footer-top-recipes-4" href="#">Best Brunch Recipes</a>
              </li>
              <li><a id="footer-top-recipes-5" href="#">Vegan Recipes</a></li>
              <li><a id="footer-top-recipes-6" href="#">Best Salad Recipes</a>
              </li>
              <li><a id="footer-top-recipes-7" href="#">Best Soup Recipes</a>
              </li>
              <li><a id="footer-top-recipes-8" href="#">Easy Appetizer Recipes</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="caption">
              Cooking With Vegetables</div>
            <ul>
              <li><a id="footer-cooking-with-veg-1" href="#">Avocado</a></li>
              <li><a id="footer-cooking-with-veg-2" href="#">Beets</a></li>
              <li><a id="footer-cooking-with-veg-3" href="#">Brussels
                Sprouts</a></li>
              <li><a id="footer-cooking-with-veg-4" href="#/">Broccoli</a></li>
              <li><a id="footer-cooking-with-veg-5" href="#">Butternut
                Squash</a></li>
              <li><a id="footer-cooking-with-veg-6" href="#">Cauliflower</a>
              </li>
              <li><a id="footer-cooking-with-veg-7" href="#">Spaghetti
                Squash</a></li>
              <li><a id="footer-cooking-with-veg-8" href="#">Sweet Potato</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="caption">
              Plant-Based Cooking Basics</div>
            <ul>
              <li><a id="footer-plant-based-basics-1" href="#">Brown Rice</a>
              </li>
              <li><a id="footer-plant-based-basics-2" href="#">Lentils</a></li>
              <li><a id="footer-plant-based-basics-3" href="#">Roasted
                Chickpeas</a></li>
              <li><a id="footer-plant-based-basics-4" href="#"></a></li>
              <li><a id="footer-plant-based-basics-5" href="#/">Tofu</a></li>
              <li><a id="footer-plant-based-basics-6" href="#"></a> </li>
              <li><a id="footer-plant-based-basics-7" href="#"></a></li>
              <li><a id="footer-plant-based-basics-8" href="#/">Zucchini Noodles</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" style="padding-bottom: 20px;">
          <div class="col-md-12 text-center" style="color: #fff;">
            Copyright © 2023 Capstone2, 254 Nguyen Van Linh.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
