.if-avatar {
  position: relative;
  top: -60px;
}

.avatar-wrapper {
  position: relative;
  height: 128px;
  width: 128px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  display: inline-block;
}

.profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.profile-pic:after {
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 110px;
  background: #ecf0f1;
  color: #3333;
  text-align: center;
}

.upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



.upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: -20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}

.upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-family: "Roboto Condensed";
  color: #333;
  font-weight: 700;
  font-size: 36px;
}


/* ====================================================== */
/* =========================New======================== */
/* ====================================================== */


.total-buy {
  color: #00d97e;
  background-color: #ccf7e5;
  font-weight: 400;
  font-size: 28px;
  padding: 0px 10px;
  border-radius: 10px;
}

.if-avatar {
  position: relative;
  top: -60px;
}

.header-tabs {
  margin-bottom: -1.5rem;
  border-bottom-width: 0;
}

.nav-overflow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1px;
}

.nav-tabs {
  border-bottom: 1px solid #e3ebf6;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0;
}

.nav-tabs .nav-item {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #12263f;
  background-color: transparent;
  border-color: transparent transparent #2c7be5;
}

.header-tabs .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-tabs .nav-link {
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-menu1 {
  display: none;
  color: #12263f;
  background-color: #fff;
  border: 1px solid rgba(18, 38, 63, .1);
  padding: 10px 2px;
  border-radius: 5px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.375rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #6e84a3;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.form-group {
  margin-bottom: 1.4rem !important;
}
.btn-submit-changePass:hover{
  cursor: pointer !important;
}
.if-avatar {
  position: relative;
  top: -60px;
}
.avatar-wrapper {
  position: relative;
  height: 128px;
  width: 128px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  display: inline-block;
}

.profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.profile-pic:after {
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 110px;
  background: #ecf0f1;
  color: #3333;
  text-align: center;
}

.upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



.upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: -20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}

.upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-family: "Roboto Condensed";
  color: #333;
  font-weight: 700;
  font-size: 36px;
}


/* ====================================================== */
/* =========================New======================== */
/* ====================================================== */


.total-buy {
  color: #00d97e;
  background-color: #ccf7e5;
  font-weight: 400;
  font-size: 28px;
  padding: 0px 10px;
  border-radius: 10px;
}

.if-avatar {
  position: relative;
  top: -60px;
}

.header-tabs {
  margin-bottom: -1.5rem;
  border-bottom-width: 0;
}

.nav-overflow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1px;
}

.nav-tabs {
  border-bottom: 1px solid #e3ebf6;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0;
}

.nav-tabs .nav-item {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #12263f;
  background-color: transparent;
  border-color: transparent transparent #2c7be5;
}

.header-tabs .nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-tabs .nav-link {
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-menu1 {
  display: none;
  color: #12263f;
  background-color: #fff;
  border: 1px solid rgba(18, 38, 63, .1);
  padding: 10px 2px;
  border-radius: 5px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.375rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #6e84a3;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.form-group {
  margin-bottom: 1.4rem !important;
}
