<body>
<div class="header" style="width: 1920px; height: 930px;">
  <div class="container">
    <div class="form-container login-container">
      <form [formGroup]="formNewPass">
        <h1 style="color: #4d80e0;">Xác nhận mật khẩu mới</h1>
        <div style="width: 100%">
          <div>
            <input (input)="changingValueUsername()" formControlName="code" type="text" placeholder="Mã xác thực" style="text-align: center;">
            <span>&nbsp;</span>
            <span *ngIf="formNewPass.controls.code.hasError('required')&& formNewPass.controls.code.touched" style="color: red">Mã xác nhận không được để trống</span>
          </div>
          <div>
            <input formControlName="password" type="password" placeholder="Nhập mật khẩu" style="text-align: center;">
            <span>&nbsp;</span>
            <span *ngIf="formNewPass.controls.password.hasError('minlength')&& formNewPass.controls.password.touched" style="color: red">Mật khẩu không đạt yêu cầu</span>
          </div>
          <div>
            <input formControlName="confirmPassword" type="password" placeholder="Xác nhận mật khẩu" style="text-align: center;">
            <div>
              <span>&nbsp;</span>
              <span *ngIf="formNewPass.hasError('mismatch')" style="color: red">Mật khẩu xác nhận không trùng khớp</span>
            </div>
          </div>
        </div>
        <button (click)="getNewPass()" [disabled]="!this.formNewPass.valid" class="btn">Gửi</button>
        <div>
          <span>&nbsp;</span>
          <span style="color: red"><strong>{{this?.errorMessage}}</strong></span>
        </div>
      </form>
    </div>
  </div>
</div>
</body>


