<main class="main-content" style="margin-top: 83px;
    width: 1660px;">

  <!-- thong ke -->
  <div id="thongke" style="    padding: 10px 40px;">
    <div class="col-lg-4 col-xs-12" style="    padding-right: 20px;">
      <div class="box-content">
        <h4 class="box-title text-info">Site Traffic</h4>
        <div class="content widget-stat">
          <div class="left-content margin-top-15">something</div>
          <div class="right-content">
            <h2 class="counter text-info">278</h2>
            <p class="text text-info">Some text here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12" style="    padding-right: 20px;">
      <div class="box-content">
        <h4 class="box-title text-info">Site Traffic</h4>
        <div class="content widget-stat">
          <div id="traffic-sparkline-chart-1" class="left-content margin-top-15">something</div>
          <div class="right-content">
            <h2 class="counter text-info">278</h2>
            <p class="text text-info">Some text here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12" style="    padding-right: 20px;">
      <div class="box-content">
        <h4 class="box-title text-info">Site Traffic</h4>
        <div class="content widget-stat">
          <div  class="left-content margin-top-15">something</div>
          <div class="right-content">
            <h2 class="counter text-info">278</h2>
            <p class="text text-info">Some text here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- thong ke -->
  <div class="bottom-container" id="main-dashboard" style="display:block">
    <div class="bottom-container__left">
      <div class="box spending-box">
        <div class="header-container">
          <h3 class="section-header">Spending Statistics</h3>
          <div class="year-selector">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.8" width="24" height="24" rx="6" fill="#F6F7F9" />
              <path d="M13.4999 15.96L10.2399 12.7C9.85492 12.315 9.85492 11.685 10.2399 11.3L13.4999 8.04004"
                    stroke="#1A202C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <span>2023</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.8" width="24" height="24" rx="6" fill="#F6F7F9" />
              <path d="M10.4551 15.96L13.7151 12.7C14.1001 12.315 14.1001 11.685 13.7151 11.3L10.4551 8.04004"
                    stroke="#1A202C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
          </div>
        </div>
        <div class="bar-chart">
          <canvas id="myChart" height="220px" width="660px"></canvas>
        </div>
      </div>

    </div>

  </div>
</main>
