<div class="header-title-breadcrumb relative" style="z-index: 3;">
  <div class="header-title-breadcrumb-overlay text-center"
       style="background-image: url('/assets/images/bg_breadcrumbs.jpg');">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div id="page" class="site">
  <div
    style="width: 900px;padding: 15px; margin: 0 auto; border-radius: 10px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <h2 style="text-align: center;">Công thức</h2>
    <form class="congthuc" [formGroup]="formGroup">
      <div class="form-group tencongthuc" style="text-align: left;">
        <label><b>Tên công thức</b></label> <br>
        <input formControlName="name" class="form-control" type="text" name="cook_name">
        <span>&nbsp;</span>
        <span *ngIf="formGroup.controls.name.hasError('required') && formGroup.controls.name.touched" style="color: red">Tên công thức không được để trống</span>
      </div>
<!--      <div class="form-group hinhanh" style="text-align: left;">-->
<!--        <label><b>Hình ảnh</b></label> <br>-->
<!--        <img id="recipes-imgs-firebase" class="profile-pic" src="../../../assets/images/logo.png"/>-->
<!--        <input  formControlName="imgs" class="file-upload" type="file" accept="image/*" (change)="addFile($event)" />-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>&nbsp;</span>-->
<!--        <span *ngIf="formGroup.controls.imgs.hasError('required') && formGroup.controls.imgs.touched" style="color: red">Hình ảnh không được để trống</span>-->
<!--      </div>-->

            <div  style="text-align: left;">
              <form class="fomarray-img" [formArrayName]="formArrayImg">
                <div class="div-formarrayRecipe" *ngFor="let img of this.formArrayImg.controls;index as i" [formGroupName]="i">
                  <label  class="label-add-picture"   for="addPictureRecipe{{i}}">
                    <img id="label-img{{i}}" class="addRecipe-img" src="../../../assets/images/logo.png">
                    <div>
                      <span>&nbsp;</span>
<!--                      <span disable *ngIf="formArray.controls[i].hasError('required')" style="color:red;">Không được bỏ trống ảnh</span>-->
                    </div>
                    <input (change)="uploadImg($event,i)" hidden formControlName="{{i}}" accept="image/png, image/jpeg"  id="addPictureRecipe{{i}}" type="file" >
                  </label>
                </div>
              </form>
            </div>

      <div>
        <button [hidden]="this.formArrayImg.length==4 || this.formArrayImg.invalid" class="btn btn-primary" style="margin-top: 20px"  (click)="addPicture()" >Thêm ảnh</button>
      </div>
      <div formArrayName="formArray">
        <div *ngFor="let foodGroups of formArray.controls; let i = index" [formGroupName]="i"  class="form-group nguyenlieu" style="text-align: left;">
          <label><b>Nguyên Liệu</b></label> <br>
          <table>
            <tr>
              <th>
                Nguyên liệu</th>
              <th>
                Khối lượng</th>
            </tr>
            <tr></tr>
            <tr>
              <td>
                <div class="form-group">
                  <select class="form-control" formControlName="food_detail_id">
                    <option *ngFor="let item of this.food_detail" [value]="item.id">{{item.name}}</option>
                  </select>
                  <div>
                    <span>&nbsp;</span>
                    <span *ngIf="formArray.controls[i].get('food_detail_id').errors?.required && formArray.controls[i].get('food_detail_id').touched" style="color: red">Nguyên liệu không được để trống</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input formControlName="quantity" class="form-control" type="text" name="quantity">
                  <div>
                    <span>&nbsp;</span>
                    <span *ngIf="formArray.controls[i].get('quantity').errors?.pattern && formArray.controls[i].get('quantity').touched
                || formArray.controls[i].get('quantity').errors?.validMoreThan0 && formArray.controls[i].get('quantity').touched" style="color: red">
                  Nguyên liệu phải là số và nguyên liệu phải lớn hơn 0</span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <tr *ngIf="this.formArray.valid">
        <td style="border: none">
          <button style="background: #2ecc71;outline: none; border: none;color: #fff; padding: 10px; border-radius: 10px;" (click)="addFormControl()">Thêm nguyên liệu</button>
        </td>
        <td style="border: none">
      </td>
      </tr>
      <div class="form-group video" style="text-align: left;">
        <label><b>Video</b></label> <br>
        <div>
          <label for="inputVideo">
            <video style="width: 200px; height: 200px;" src="../../../assets/videos/videonauan.mp4" id="videoUpload"></video>
          </label>
        </div>
        <input formControlName="videos" id="inputVideo" accept="video/*" (change)="uploadVideo($event)" style=" border: none; display: none" class="form-control" type="file">
      </div>
      <div>
        <span>&nbsp;</span>
        <span *ngIf="formGroup.controls.videos.hasError('required') && formGroup.controls.videos.touched" style="color: red">Video không được để trống</span>
      </div>
      <div class="form-group mota" style="text-align: left;">
        <label><b>Mô tả công thức</b></label> <br>
        <textarea formControlName="content" class="form-control" name="description" rows="4" cols="50"></textarea>
        <span>&nbsp;</span>
        <span *ngIf="formGroup.controls.content.hasError('required') && formGroup.controls.content.touched" style="color: red">Mô tả không được để trống</span>
      </div>
      <button *ngIf="formArray.valid && formGroup.valid && formArrayImg.valid" class="btn btn-success" type="submit" name="submit" (click)="submitFood()">Submit</button>
    </form>
  </div>
</div>

